<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        
        <p>Here are a few of our partner organizations:</p>
        <ul>
    <ul>
        <% organizations.forEach(organization => { %>

            <li class="organization-item">

                <img
                    src="/images/<%= organization.logo_filename %>"
                    alt="<%= organization.name %> logo">

                <div class="organization-info">
                    <a href="/organization/<%= organization.organization_id %>">
                        <%= organization.name %>
                    </a>

                    <span><%= organization.contact_email %></span>
                </div>

            </li>

        <% }); %>
    </ul>
    <p><a href="/new-organization">Add a new organization</a></p>
    </main>

<%- include('partials/footer') %>s