<%- include('partials/header') %>

<main class="users-page">

    <h1>Registered Users</h1>

    <table class="users-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>

        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role_name %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

</main>

<%- include('partials/footer') %>